<div class="stats">
    <h3>RPC Stats</h3>
    <div class="keyStats"></div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTop20">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTop20" aria-expanded="true" aria-controls="collapseTop20">
                        Top 20
                    </a>
                </h4>
            </div>
            <div id="collapseTop20" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTop20">
                <div class="panel-body">
                    <div class="top20"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingLockedRPCs">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLockedRPCs" aria-expanded="false" aria-controls="collapseLockedRPCs">
                        Locked RPC List
                    </a>
                </h4>
            </div>
            <div id="collapseLockedRPCs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLockedRPCs">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="locked-rpc-table"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>