<div class="stats">
    <div clas="row">
        <div class="col-md-12">
            <h4>RPC Stats</h4>
            <div class="keyStats"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Top 20</h4>
            <div class="top20"></div>
        </div>
        <div class="col-md-3">
            <h4>Locked RPCs</h4>
            <div id="locked-rpc-table"></div>
        </div>
        <div class="col-md-3">
            <canvas id="pie-chart" width="300" height="300"></canvas>
        </div>
    </div>
</div>