<div class="events">
    <div class="rpc-events submenu">

        <span class="glyphicon glyphicon-filter" alt="Emulated RPC filter label."></span>
        <div id="filter"></div>

        <a href="#" class="clear-events-list" title="Clear RPC Events List">
            <span class="rpcEvents glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        </a>
    </div>

    <div id="events-table"></div>

    <div id="event-modal-container"></div>
</div>
