<div class="events">
    <div class="rpc-events submenu">

        <span class="glyphicon glyphicon-filter" alt="Emulated RPC filter label."></span>
        <div id="filter" class="rpc-event-select"></div>

        <a href="#" class="clear-events-list" title="Clear RPC Events List">
            <span class="rpcEvents glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        </a>
        <span class="events-status">
            <span>
                <div class="submenu-label">Total:</div>
                <span class="event-count-total"></span>
            </span>
            <span>
                <div class="submenu-label">Total No Polling:</div>
                <span class="event-count-total-no-poller"></span>
            </span>
            <span>
                <div class="submenu-label">RPC Runner:</div>
                <span class="event-count-rpc-runner"></span>
            </span>
            <span>
                <strong class="submenu-label">MVDM Locked:</strong>
                <span class="event-count-mvdm-locked"></span>
            </span>
            <span>
                <div class="submenu-label">Server:</div>
                <span class="event-count-server"></span>
            </span>
        </span>
    </div>

    <div id="events-table"></div>

    <div id="event-modal-container"></div>
</div>
