<div class="events">
    <div class="submenu">

        <span class="glyphicon glyphicon-filter" alt="Event type filter label."></span>
        {{mvdm-type-filter-select eventTableFilter}}

        <a href="#" class="clear-events-list" title="Clear MVDM Events List">
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        </a>
        <span class="emulation-status">
            <h4 class="submenu-label">Emulation: </h4>
            {{#if management.isEmulation}}
                <span class="glyphicon glyphicon-ok-sign" alt="Emulation is on."></span>
            {{else}}
                <span class="glyphicon glyphicon-remove-sign" alt="Emulation is off."></span>
            {{/if}}
        </span>

    </div>

    <div id="events-table"></div>

    <div id="event-modal-container"></div>
</div>
