<table class="table table-condensed">
    <thead>
    <th>Total</th>
    <th>Locked</th>
    <th>Distinct</th>
    <th>Distinct Locked</th>

    </thead>
    <tbody>
    <tr>
        <td>{{total}}</td>
        <td>{{locked}}</td>
        <td>{{distinct}}</td>
        <td>{{distinctLocked}}</td>
    </tr>
    </tbody>
</table>