<div class="rpc-counts">
    <div class="row charts">
        <div class="col-md-1">
            <div class="rpc-received"></div>
        </div>
        <div class="col-md-3">
            <div class="distinct-pie-chart-container">
                <canvas class="distinct-pie-chart" width="300" height="300"></canvas>
            </div>
        </div>
        <div class="col-md-3">
            <div class="locked-pie-chart-container">
                <canvas class="locked-pie-chart" width="300" height="300"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category-pie-chart-container">
                <canvas class="category-pie-chart" width="500" height="300"></canvas>
            </div>
        </div>
    </div>
    <div class="row tables">
        <div class="col-md-5">
            <div class="table-label">Top 20</div>
            <div class="top20"></div>
        </div>
        <dic class="col-md-2"></dic>
        <div class="col-md-5">
            <div class="table-label">Locked RPCs</div>
            <div id="locked-rpc-table"></div>
        </div>
    </div>
</div>